.test
    position relative
    width 100%
    height 100vh
    overflow hidden
    +below(800px)
        padding wm(120) wm(30) wm(50)
        overflow auto
        height 100%

    &__container
        // overflow hidden
        max-width w(1150)
        width 100%
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        background-image url('/images/bg.png')
        background-size cover
        border w(1) solid $c-black
        border-radius w(20)
        +below(800px)
            background-image url('/images/bg-mobile.png')
            border-radius wm(30)
            position relative
            max-width 100%
            top 0%
            left 0%
            transform translate(0%, 0%)

    &__counter
        position absolute
        top 0%
        left 50%
        transform translate(-50%, -50%)
        width w(120)
        height w(120)
        border w(1) solid $c-black
        border-radius 50%
        background $c-white
        +below(800px)
            top 0%
            width wm(120)
            height wm(120)
            border wm(1) solid $c-black

    &__counter-text
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        color $c-grey
        font-family $ff-gothampro_bold
        font-size w(65)
        font-weight 700
        line-height 100%
        text-align center
        +below(800px)
            font-size wm(65)

    &__text
        margin w(110) 10% w(0)
        color $c-black
        font-family $ff-gothampro
        font-size w(20)
        font-weight 700
        line-height 120%
        text-align center
        height w(60)
        +below(800px)
            margin wm(110) wm(40) wm(0)
            font-size wm(34)
            height wm(400)

    &__wrap
        padding w(20) 0 w(50)
        display flex
        flex-direction row
        justify-content center
        transition transform 0.3s ease
        +below(800px)
            padding wm(20) 0 wm(50)

    &__slider
        margin-left w(370)
        width w(400)
        overflow hidden
        +below(800px)
            width 100%
            margin-left wm(20)

    &__wrap-item
        padding 20px
        display flex
        flex-direction column
        justify-content center
        +below(800px)
            padding wm(20)
            margin-left 0%

    &__cards
        width w(351)
        height w(462)
        border w(1) solid $c-grey
        border-radius w(15)
        position absolute
        top 30%
        left 33.5%
        transform translate(-50%, -50%)
        z-index -1
        background-color $c-grey
        transform rotate(5.21deg)
        +below(800px)
            width wm(600)
            height wm(930)
            top 32%
            left 3.5%
            border-radius wm(30)
            transform rotate(2.21deg)
    
    &__card
        display flex
        flex-direction column
        justify-content space-between
        width w(351)
        height w(432)
        border-radius w(15)
        +below(800px)
            width wm(600)
            height wm(800)
            border-radius wm(30)

        &.risk
            opacity 0
            background $c-yellow
            padding w(30)
            border w(1) solid $c-black
            +below(800px)
                padding wm(30)
                height wm(900)
            &::before
                left 11%
                +below(1200px)
                    left 12%
                +below(800px)
                    left 1.5%

        &.experience
            opacity 0
            background $c-blue
            padding w(30)
            border w(1) solid $c-black
            +below(800px)
                padding wm(30)
                height wm(900)
            &::before
                left 78%
                +below(1200px)
                    left 78.5%
                +below(800px)
                    left 68%

    &__cardv
        position absolute
        top 60%
        left 49.5%
        transform translate(-50%, -50%)
        display flex
        flex-direction column
        justify-content space-between
        width w(351)
        height w(432)
        border-radius w(15)
        +below(800px)
            width wm(600)
            height wm(800)
            border-radius wm(30)

        &.visible
            display none

        &.risk
            background $c-yellow
            padding w(30)
            border w(1) solid $c-black
            +below(800px)
                padding wm(30)
                height wm(900)
            &::before
                left 11%
                +below(1200px)
                    left 12%
                +below(800px)
                    left 1.5%

        &.experience
            background $c-blue
            padding w(30)
            border w(1) solid $c-black
            +below(800px)
                padding wm(30)
                height wm(900)
            &::before
                left 78%
                +below(1200px)
                    left 78.5%
                +below(800px)
                    left 68%

    &__img
        width w(350)
        +below(800px)
            width wm(600)
            height wm(900)
            img
                width 100%
                border-radius wm(30)
                border wm(1) solid $c-black
        img
            width 100%
        

    &__card__title
        position relative
        color $c-grey
        font-family $ff-gothampro_black
        font-size w(43)
        font-weight 400
        line-height 120%
        z-index 1
        +below(800px)
            font-size wm(74)

        &.risk
            &::before
                content ""
                width w(80)
                height w(80)
                background-color $c-orange
                border-radius 50%
                position absolute
                top 50%
                transform translateY(-50%)
                left w(70)
                z-index -1
                +below(800px)
                    width wm(100)
                    height wm(100)
                    left wm(140)

        &.experience
            &::before
                content ""
                width w(80)
                height w(80)
                background-color $c-blue1
                border-radius 50%
                position absolute
                top 50%
                transform translateY(-50%)
                left w(70)
                z-index -1
                +below(800px)
                    width wm(100)
                    height wm(100)
                    left wm(140)        

    &__card__text
        margin-top w(20)
        color $c-black
        font-family $ff-gothampro
        font-size w(18)
        font-weight 400
        line-height 110%
        +below(800px)
            font-size wm(35)
            margin-top wm(60)

    &__card__link
        display flex
        flex-direction row
        justify-content flex-end
        cursor pointer
        align-items center

    &__card__link-text
        color $c-black
        font-family $ff-gothampro_bold
        font-size w(18)
        font-weight 700
        line-height 110%
        margin-right w(5)
        +below(800px)
            margin-right wm(15)
            font-size wm(35)

    &__card__link-next 
        width 0
        height 0
        border-top w(10) solid transparent
        border-bottom w(10) solid transparent
        border-left w(15) solid $c-black
        +below(800px)
            border-top wm(10) solid transparent
            border-bottom wm(10) solid transparent
            border-left wm(15) solid $c-black
    
    &__wrap__button
        display flex
        flex-direction row
        justify-content space-between
        +below(800px)
            position relative
            width 100%
            height wm(150)
            left 0
            padding wm(30) wm(10) wm(30) wm(30)

    &__wrap__button-prev
        position absolute
        z-index 100
        top 50%
        left 5%
        cursor pointer
        +below(800px)
            top 0%

    &__wrap__button-next
        position absolute
        z-index 100
        top 50%
        right 5%
        cursor pointer
        +below(800px)
            top 0%

    &__wrap__triangle
        content ""
        width 0
        height 0
        position absolute
        top 50%
        transform translateY(-50%)
        z-index -1
        &.risk
            border-top w(30) solid transparent
            border-bottom w(30) solid transparent
            border-right w(50) solid $c-grey
            left w(210)
            +below(800px)
                border-top wm(20) solid transparent
                border-bottom wm(20) solid transparent
                border-right wm(40) solid $c-grey
                left wm(220)

        &.experience
            border-top w(30) solid transparent
            border-bottom w(30) solid transparent
            border-left w(50) solid $c-grey
            left w(-60)
            +below(800px)
                border-top wm(20) solid transparent
                border-bottom wm(20) solid transparent
                border-left wm(40) solid $c-grey
                left wm(-40)

    &__wrap__text
        color $c-grey
        font-family $ff-gothampro_black
        font-size w(73)
        font-weight 400
        line-height w(70)
        +below(800px)
            font-size wm(73)
            line-height wm(70)

        &.risk
            &::before
                content ""
                width w(100)
                height w(100)
                background-color $c-orange
                border-radius 50%
                position absolute
                top 50%
                transform translateY(-50%)
                left w(120)
                z-index -1
                +below(800px)
                    width wm(100)
                    height wm(100)
                    left wm(180)

        &.experience
            &::before
                content ""
                width w(100)
                height w(100)
                background-color $c-blue1
                border-radius 50%
                position absolute
                top 50%
                transform translateY(-50%)
                right w(150)
                z-index -1
                +below(800px)
                    width wm(100)
                    height wm(100)
                    right wm(190)

    &__wrap__next
        padding w(250)
        display none
        flex-direction column
        justify-content center
        align-items center
        +below(800px)
            padding wm(420) wm(40)

    &__next
        padding w(40) w(50)
        background-color #0047BA
        border-radius w(80)
        cursor pointer
        color $c-white
        border none
        font-family $ff-gothampro_bold
        font-size w(40)
        font-weight 700
        line-height 110%
        +below(800px)
            padding wm(40) wm(50)
            border-radius wm(80)
            font-size wm(40)

    &__next-text
        margin-bottom w(20)
        color $c-black
        font-family $ff-gothampro_bold
        font-size w(38)
        font-weight 700
        line-height 110%
        +below(800px)
            margin-bottom wm(20)
            font-size wm(38)


.hidden {
    // display: none;
    opacity: 0;    
}