mixin test()
    +b('section').test
        +e.container
            +e.counter
                +e.counter-text 1
            +e.text Ваш ребенок обожает лазить по деревьям и при первом удобном случае норовит забраться повыше. Это очень опасно? Или же, наоборот, помогает ему развиваться физически и прокачивать свои моторные навыки проверенным тысячелетиями способом?
            +e.cards
            +e.cardv.risk.visible
                +e.card-info
                    +e.card__title.risk РИСК
                    +e.card__text.risk Вспомните себя в детстве — разбитые коленки и локти были обычным делом. Но может ли это сравниться с радостью от покорения новой вершины? Иногда стоит дать ребенку совершить ошибку, чтобы лучше понять этот мир.
                +e.card__link
                    +e.card__link-text следующая карточка
                    +e.card__link-next
            +e.cardv.experience.visible
                +e.card-info
                    +e.card__title.experience ОПЫТ
                    +e.card__text.experience Стоит порадоваться, что ваш ребенок предпочитает активные игры вместо того, чтобы проводить время за компьютером. Это не только полезно для развития молодого организма, но и может сделать его более уравновешенным и спокойным. 
                +e.card__link
                    +e.card__link-text следующая карточка
                    +e.card__link-next
            +e.wrap__next
                +e.next-text Вы прошли весь тест
                +e.next Пройти ещё раз
            +e.slider
                +e.wrap
                    +e.wrap-item
                        +e.card.risk
                            +e.card-info
                                +e.card__title.risk РИСК
                                +e.card__text.risk Вспомните себя в детстве — разбитые коленки и локти были обычным делом. Но может ли это сравниться с радостью от покорения новой вершины? Иногда стоит дать ребенку совершить ошибку, чтобы лучше понять этот мир.
                            +e.card__link
                                +e.card__link-text следующая карточка
                                +e.card__link-next 
                    +e.wrap-item
                        +e.card
                            +e.img
                    +e.wrap-item
                        +e.card.experience
                            +e.card-info
                                +e.card__title.experience ОПЫТ
                                +e.card__text.experience Стоит порадоваться, что ваш ребенок предпочитает активные игры вместо того, чтобы проводить время за компьютером. Это не только полезно для развития молодого организма, но и может сделать его более уравновешенным и спокойным. 
                            +e.card__link
                                +e.card__link-text следующая карточка
                                +e.card__link-next
            +e.wrap__button
                +e.wrap__button-prev
                    +e.wrap__text.risk РИСК
                    +e.wrap__triangle.risk
                +e.wrap__button-next
                    +e.wrap__text.experience ОПЫТ
                    +e.wrap__triangle.experience