$ff-gothampro = 'gothampro', sans-serif
$ff-gothampro_black = 'gothampro_black', sans-serif
$ff-gothampro_bold = 'gothampro_bold', sans-serif

$c-black = #000
$c-white = #fff
$c-yellow = #FBCFB7
$c-orange = #F0813C
$c-blue = #B5E9FB
$c-blue1 = #00AAE7
$c-grey = #333333